{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Account Book
{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'account_books.index' %}
    <a class="active section">Account Books</a>
  {% elif request.args.get('account_id') %}
    <a href="{{ url_for('account_books.index', account_id=request.args.get('account_id')) }}" class="section">Account Books</a>
  {% else %}
    <a href="{{ url_for('account_books.index') }}" class="section">Account Books</a>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="ui segment">
      <a class="ui button primary" href="{{ url_for('account_books.create_or_edit') }}">Create</a>
  </div>
    
  <div>
    <h2 class="ui head">Account Book</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Total</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for account_book in account_books %}
          <tr>
            <td>{{ account_book.name }}</td>
            <td>{{ account_book.type.title() }}</td>
            <td></td>
            <td>
              <a href="{{ url_for('account_books.view', account_book_id=account_book.id) }}" class="ui icon primary circular button"><i class="eye icon"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
