{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Account Book
{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'account_books.index' %}
    <a class="active section">Account Books</a>
  {% else %}
    <a href="{{ url_for('account_books.index') }}" class="section">Account Books</a>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="ui segment">
      <a class="ui button primary" href="{{ url_for('account_books.create_or_edit') }}">Create</a>
  </div>
  <div class="ui cards">

    {% for account in account_books %}
    <div class="card">
      <div class="content">
        <div class="header">{{ account.name }}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Infomation</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <b>Code:</b> {{ account.code }}
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <b>Tax ID:</b> {{ account.tax_id }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <a class="ui button primary" href="{{ url_for('account_books.view', account_id=account.id) }}">View Account Book</a>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
