{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Account Book
{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'account_books.index' %}
    <a class="active section">Account Books</a>
  {% elif account_book %}
    <a href="{{ url_for('account_books.index', account_id=account_book.account.id) }}" class="section">Account Books</a>
  {% else %}
    <a href="{{ url_for('account_books.index') }}" class="section">Account Books</a>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="ui segment">
    <a class="ui button primary" href="{{ url_for('accounts.view', account_id=request.args.get('account_id')) }}">Account</a>
    <a class="ui button primary" href="{{ url_for('account_books.create_or_edit', account_id=request.args.get('account_id'))  }}">Create Account Book</a>
  </div>
    
  <div>
    <h2 class="ui head">Account Book</h2>

     <table class="ui table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Tool</th>

        </tr>
      </thead>
      <tbody>
        {% for account_book_id, account_book in display_account_books.items() %}
          <tr class="{{ 'blue' if not account_book['obj'].parent }}">
            <td>
              {{ account_book['name'] }}
            </td>
            <td> {{ account_book['obj'].type.title() }} </td>
            <td class="right aligned"> {{ "{:,.2f}".format(account_book['account_balance'].balance|float) }} </td>
            <td>
              <a class="ui primary circular icon button" href="{{ url_for('account_books.view', account_book_id=account_book_id) }}">
                <i class="eye icon"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
