{% extends '/account_books/index.html' %}

{% block dashboard_title %}
Account Book {{ account_book.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <div class="divider">/</div>
  <div class="active section">Account Book: {{ account_book.name }} </div>

{% endblock %}

{% block title %}
  {{ self.dashboard_title() }}
{% endblock %}

{% block content %}
  <div>
    <a class="ui primary icon button" href="{{ url_for('account_books.add_or_edit_transaction', account_book_id=account_book.id) }}">
      <i class="add icon"></i> Add Transaction
    </a>
  </div>
  <div style="padding-top:1vh;">
    <table class="ui table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Transfer</th>
          <th>Income</th>
          <th>Express</th>
          <th>User</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% set ns = namespace(total = 0) %}
        {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.date.strftime('%Y/%m/%d %H:%M') }}</td>
          <td>{{ transaction.description }}</td>
          <td>
            {% if transaction.from_account_book.id != account_book.id %}
              <a href="{{ url_for('account_books.view', account_book_id=transaction.from_account_book.id) }}">
                {{ transaction.from_account_book.name }}
              </a>
            {% else %}
              <a href="{{ url_for('account_books.view', account_book_id=transaction.to_account_book.id) }}">
                {{ transaction.to_account_book.name }}
              </a>
            {% endif %}
          </td>
          {% if transaction.from_account_book.id != account_book.id %}
            {% set ns.total = ns.total + transaction.value %}
            <td>{{ "{:.2f}".format(transaction.value) }}</td>
            <td></td>
          {% else %}
            {% set ns.total = ns.total - transaction.value %}
            <td></td>
            <td>{{ "{:.2f}".format(transaction.value) }}</td>
          {% endif %}
          <td>
            {{ transaction.updated_by.first_name }} {{ transaction.updated_by.last_name }}
          </td>
          <td>
            <a href="{{ url_for('account_books.add_or_edit_transaction', account_book_id=account_book.id, transaction_id=transaction.id) }}" class="ui icon primary circular button"><i class="edit icon"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      คงเหลือ {{ "{:.2f}".format(ns.total) }}
    </div>
  </div>
{% endblock %}
