{% extends '/account_books/index.html' %}

{% block dashboard_title %}
Account Book {{ account_book.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if account_book %}
    <i class="right angle icon divider"></i>
    {% if request.endpoint == 'account_books.view' %}
      <div class="active section">Account Book: {{ account_book.name }} </div>
    {% elif account_book %}
      <a class="section" href="{{ url_for('account_books.view', account_book_id=account_book.id ) }}">Account Book: {{ account_book.name }} </a>
    {% endif %}
  {% endif %}

{% endblock %}

{% block title %}
  {{ self.dashboard_title() }}
{% endblock %}

{% block content %}
  <div>
    <a class="ui primary icon button" href="{{ url_for('account_books.add_or_edit_transaction', account_book_id=account_book.id) }}">
      <i class="money icon"></i> Add Transaction
    </a>
    {% if account_book.parent %}
    <a class="ui primary icon button" href="{{ url_for('account_books.view', account_book_id=account_book.parent.id ) }}">
      <i class="caret square up icon"></i> Parent: {{ account_book.parent.name }}
    </a>
    {% endif %}
    <a class="ui primary icon button" href="{{ url_for('account_books.create_or_edit', account_id=account_book.account.id, parent_id=account_book.id ) }}">
      <i class="add icon"></i> Add Sub Account Book
    </a>
    <a class="ui yellow icon button" href="{{ url_for('account_books.create_or_edit', account_book_id=account_book.id) }}">
      <i class="edit icon"></i> Edit Account Book
    </a>

  </div>

  <div style="padding-top:1vh;">
    <div class="ui cards">
      {% for c_account_book in account_book_children %}
      <div class="card">
        <div class="content">
          <div class="header">{{ c_account_book.name }}</div>
          <div class="description">
            {% set sub_balance = get_balance_sub_balance(c_account_book, balance.children) %}
            <div>
              <span>net balance:</span> <span class="right floated bold" style="font-weight: bold;">{{ "{:,.2f}".format(sub_balance.net_balance|float) }}</span>
            </div>
            <div>
              <span>net increse:</span> <span class="right floated" style="font-weight: bold;">{{ "{:,.2f}".format(sub_balance.net_increse|float) }}</span>
            </div>
            <div>
              <span>net decrese:</span> <span class="right floated" style="font-weight: bold;">{{ "{:,.2f}".format(sub_balance.net_decrese|float) }}</span>
            </div>

          </div>
        </div>

        <div class="extra content">
          <div class="ui two buttons">

            <a class="ui icon primary button" href="{{ url_for('account_books.view', account_book_id=c_account_book.id) }}">
              <i class="eye icon"></i>
              View
            </a>
            <a class="ui icon yellow button" href="{{ url_for('account_books.create_or_edit', account_book_id=c_account_book.id) }}">
              <i class="edit icon"></i>
              Edit
            </a>

          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

  <div style="padding-top:1vh;">
    <table class="ui Large table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Transfer</th>
          <th>{{ label.positive.title() }}</th>
          <th>{{ label.negative.title() }}</th>
          <th>User</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date.strftime('%Y/%m/%d %H:%M:%S') }}</td>
            <td>{{ transaction.description }}</td>
            <td>
              {% if transaction.from_account_book.id != account_book.id %}
                <a href="{{ url_for('account_books.view', account_book_id=transaction.from_account_book.id) }}">
                  {{ account_book_display_names[transaction.from_account_book.id] }}
                </a>
              {% else %}
                <a href="{{ url_for('account_books.view', account_book_id=transaction.to_account_book.id) }}">
                  {{ account_book_display_names[transaction.to_account_book.id] }}
                </a>
              {% endif %}
            </td>
            {% if transaction.from_account_book.id != account_book.id %}
              <td class="right aligned">{{ "{:,.2f}".format(transaction.value|float) }}</td>
              <td></td>
            {% else %}
              <td></td>
              <td class="right aligned">{{ "{:,.2f}".format(transaction.value|float) }}</td>
            {% endif %}
            <td>
              {{ transaction.updated_by.first_name }} {{ transaction.updated_by.last_name }}
            </td>
            <td>
              <a href="{{ url_for('account_books.add_or_edit_transaction', account_book_id=account_book.id, transaction_id=transaction.id) }}" class="ui icon yellow circular button"><i class="edit icon"></i></a>
              <a href="{{ url_for('account_books.delete_transaction', account_book_id=account_book.id, transaction_id=transaction.id) }}" class="ui icon red circular button"><i class="trash icon"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="right aligned">
            {{ "{:,.2f}".format(balance['increse']|float) }}
          </th>
          <th class="right aligned">
            {{ "{:,.2f}".format(balance['decrese']|float) }}
          </th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    <div class="ui aligned grid">
      <div class="two column row">
        <div class="column">
          Balance: {{ "{:,.2f}".format(balance['balance']|float) }} <br/>
          Increse: {{ "{:,.2f}".format(balance['increse']|float) }} <br/>
          Decrese: {{ "{:,.2f}".format(balance['decrese']|float) }} <br/>
        </div>
        <div class="column">
          Net balance: {{ "{:,.2f}".format(balance['net_balance']|float) }} <br/>
          Net increse: {{ "{:,.2f}".format(balance['net_increse']|float) }} <br/>
          Net decrese: {{ "{:,.2f}".format(balance['net_decrese']|float) }} <br/>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
