{% extends "/base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div class="flex items-center justify-center" style="min-height: 75vh;">
    <div class="card bg-base-100 shadow w-full max-w-md">
      <div class="card-body">

        <h2 class="card-title text-3xl font-bold text-primary mb-4">
          Login
        </h2>
        <form action="{{ url_for('users.authorized_banchi') }}" method="POST">
          {{ form.hidden_tag() }}
          {{ renderer.render_field(form.username) }}
          {{ renderer.render_field(form.password) }}
          <button type="submit" class="btn btn-primary btn-block mt-2">Login</button>
        </form>

        <div>
          {#
          <div class="divider"></div>
          <h3 class="text-xl font-bold text-left">OAuth Login</h3>

          {% if 'google' in oauth_clients %}
          <div class="pt-2">
            <a class="btn btn-error btn-lg btn-block" href="{{ url_for('users.login_oauth', name='google') }}">
              <i class="fa-brands fa-google"></i>
              Google
            </a>
          </div>
          {% endif %}
          #}
        </div>

      </div>
    </div>
  </div>
{% endblock %}
