{% extends "/base/default-page.html" %}

{% block title %}Register Success{% endblock %}

{% block additional_head %}
<script type="text/javascript">
  console.log('script update')
  setTimeout(function () {
       window.location.href = "{{ url_for('accounts.login') }}";
  }, 2000);
</script>
{% endblock %}

{% block content %}

<div class="flex items-center justify-center" style="min-height: 40vh;">
  <div class="card bg-base-100 shadow w-full max-w-md">
    <div class="card-body">
      <h3 class="card-title text-2xl font-bold">Register Success</h3>
      <p>Going to <a class="link link-primary" href="{{ url_for('accounts.login') }}">login</a> page!</p>
    </div>
  </div>
</div>

{% endblock %}
