{% extends '/account_books/view.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block breadcrumbs %}
{{ super() }}
{% if 'edit' not in request.path %}
<li>Add Transaction</li>
{% else %}
<li>Edit Transaction</li>
{% endif %}
{% endblock %}

{% macro render_transaction(form, all_tags=[]) %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
  {{ renderer.render_calendar(form.date, calendar_id=form.date.id+'_date_calendar') }}
  {{ renderer.render_field(form.description_) }}
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
  {{ renderer.render_field(form.value) }}
  {{ renderer.render_select(form.currency) }}
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
  {{ renderer.render_select(form.from_account_book_id) }}
  {{ renderer.render_select(form.to_account_book_id) }}
</div>

{{ renderer.render_tag_input(form.tags, all_tags) }}
{{ renderer.render_textarea(form.remarks) }}
{% endmacro %}

{% block content %}
<div class="card bg-base-100 shadow">
  <div class="card-body">
    <h2 class="text-2xl font-bold mb-4">Transaction</h2>
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}

      {% if form.transactions is defined %}
      {% for sub_form in form.transactions %}
      <div class="card bg-base-100 shadow border-l-4 {{ 'border-error' if loop.index % 2 == 1 else 'border-primary' }} mb-4">
        <div class="card-body p-4">
          <h3 class="text-xl font-bold mb-2">Transaction #{{ loop.index }}</h3>
          {{ render_transaction(sub_form, all_tags|default([])) }}
          {{ sub_form.csrf_token }}
        </div>
      </div>
      {% endfor %}
      {% else %}
      {{ render_transaction(form, all_tags|default([])) }}
      {% endif %}
      <button name="submit" type="submit" class="btn btn-primary">
        {% if 'edit' not in request.path %}
        Add
        {% else %}
        Edit
        {% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock content %}
