{% extends '/accounts/index.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
{% if 'edit' not in request.path %}
  <div class="active section">Create Account Book</div>
{% else %}
  <div class="active section">Edit Account Book</div>
{% endif %}
{% endblock %}

{% block content %}
  <div class="ui segment">
    <h2>Account Book</h2>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_select(form.parent_id) }}
      {{ renderer.render_field(form.description) }}
      <div class="three fields">
      {{ renderer.render_select(form.type) }}
      {{ renderer.render_select(form.smallest_fraction) }}
      {{ renderer.render_select(form.currency) }}
      </div>
      <button name="subnit" type="submit" class="ui primary button">
        {% if 'edit' not in request.path %}
          Create
        {% else %}
          Edit
        {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown').dropdown();
  </script>
{% endblock additional_js %}
