{% extends '/account_books/index.html' %}
{% import '/base/pagination.html' as pagination %}
{% import '/base/html-renderer.html' as html_renderer %}



{% block dashboard_title %}
Account Book: {{ account_book.name }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
{% if account_book %}
<i class="right angle icon divider"></i>
{% if request.endpoint == 'account_books.view' %}
<div class="active section">Account Book: {{ account_book.name }} </div>
{% elif account_book %}
<a class="section" href="{{ url_for('account_books.view', account_book_id=account_book.id ) }}">Account Book:
  {{ account_book.name }} </a>
{% endif %}
{% endif %}

{% endblock %}

{% block title %}
{{ self.dashboard_title() }}
{% endblock %}

{% block content %}
<div>
  <a class="ui primary icon button"
    href="{{ url_for('account_books.add_or_edit_transaction', account_book_id=account_book.id) }}">
    <i class="money icon"></i> Add Transaction
  </a>
  <a class="ui primary icon button"
    href="{{ url_for('account_books.add_bulk_transactions', account_book_id=account_book.id) }}">
    <i class="money icon"></i> Add Bulk Transaction
  </a>
  <a class="ui primary icon button"
    href="{{ url_for('account_books.summary', account_book_id=account_book.id) }}">
    <i class="dollar sign icon"></i> Summary Account Book
  </a>


  {% if account_book.parent %}
  <a class="ui primary icon button" href="{{ url_for('account_books.view', account_book_id=account_book.parent.id ) }}">
    <i class="caret square up icon"></i> Parent: {{ account_book.parent.name }}
  </a>
  {% endif %}
  <a class="ui primary icon button"
    href="{{ url_for('account_books.create_or_edit', account_id=account_book.account.id, parent_id=account_book.id ) }}">
    <i class="add icon"></i> Add Sub Account Book
  </a>
  <a class="ui yellow icon button"
    href="{{ url_for('account_books.create_or_edit', account_book_id=account_book.id) }}">
    <i class="edit icon"></i> Edit Account Book
  </a>
  <a class="ui red icon button" id="delete-account-book-{{ account_book.id }}">
    <i class="trash icon"></i> Delete Account Book
  </a>
</div>


<div style="padding-top:1vh;">
  <h2 class="ui header">Account Book Summary</h2>
  <div class="ui segment">
    <div class="ui grid">
      <div class="row">
        <div class="four wide column">
          <strong>Type:</strong> {{ account_book.type_.title() }}
        </div>
        <div class="four wide column">
          <strong>Balance:</strong> {{ "{:,.2f}".format(account_book.balance|float) }}<br />
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top:2vh;">
  {% for year in years %}
  {% set ns = namespace(increase=0, decrease=0, balance=0) %}
  <h3 class="ui header">Year: {{ year }}</h3>
  <table class="ui table">
    <thead>
      <tr>
        <th>Month</th>
        <th class="right aligned">Income</th>
        <th class="right aligned">Expense</th>
        <th class="right aligned">Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for account_book_summary in account_book_summaries %}
      {% if account_book_summary.year == year %}
      {% set ns.balance = ns.balance + account_book_summary.balance|float %}
      {% set ns.increase = ns.increase + account_book_summary.increase|float %}
      {% set ns.decrease = ns.decrease + account_book_summary.decrease|float %}
      <tr>
        <td> {{ account_book_summary.month }} </td>
        <td class="right aligned"> {{ "{:,.2f}".format(account_book_summary.increase|float) }} </td>
        <td class="right aligned"> {{ "{:,.2f}".format(account_book_summary.decrease|float) }} </td>
        <td class="right aligned"> {{ "{:,.2f}".format(account_book_summary.balance|float) }} </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="right aligned"> {{ "{:,.2f}".format(ns.increase|float) }} </th>
        <th class="right aligned"> {{ "{:,.2f}".format(ns.decrease|float) }} </th>
        <th class="right aligned"> {{ "{:,.2f}".format(ns.balance|float) }} </th>
      </tr>
    </tfoot>
  </table>
  {% endfor %}
</div>


{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $('#delete-modal').modal('attach events', '#delete-account-book-{{ account_book.id }}', 'show');

  datetime_formatter = {
    datetime: "YYYY-MM-DD HH:mm:ss",
    date: "YYYY-MM-DD",
  };

  $('#started_date_calendar').calendar({
    type: 'date',
    today: true,
    monthFirst: false,
    formatter: datetime_formatter,
  });

  $('#ended_date_calendar').calendar({
    type: 'date',
    today: true,
    monthFirst: false,
    formatter: datetime_formatter,
  });

  $('.ui.search.dropdown').dropdown({
    allowAdditions: true,
  });

</script>

{% endblock additional_js %}