{% macro get_validate_class(errors, error_class='input-error') -%}
{%- set class_str = '' -%}
{% if errors | count > 0 -%}
{% set class_str = error_class %}
{%- endif %}
{{- class_str -}}
{%- endmacro %}

{% macro get_error_messages(errors) -%}
	{% if errors %}
    <div class="alert alert-error mb-3">
      <i class="fa-solid fa-circle-exclamation"></i>
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}
