{% import '/base/error-handler.html' as eh %}

{% macro render_field(field, class_='input w-full', error_class='input-error') -%}
{%- set style = '%s %s' | format(class_, eh.get_validate_class(field.errors, error_class)) -%}
<div class="form-field mb-3">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(class_=style) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_checkbox(field) -%}
<div class="form-field mb-3">
  <label class="label cursor-pointer justify-start gap-3 text-base-content">
    {{ field(class_='checkbox') }}
    <span>{{ field.label.text }}</span>
  </label>
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}


{% macro render_fileinput(field) -%}
<div class="form-field mb-3">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(class_='file-input w-full') }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}


{% macro render_textarea(field, rows=3) -%}
{%- set style = 'textarea w-full %s' | format(eh.get_validate_class(field.errors, 'textarea-error')) -%}
<div class="form-field mb-3">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(class_=style, rows=rows) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_select_disabled(field) -%}
{{ render_field(field, class_='select w-full', error_class='select-error') }}
{%- endmacro %}

{% macro render_select(field) -%}
{{ render_field(field, class_='select w-full', error_class='select-error') }}
{%- endmacro %}

{% macro render_select_no_search(field) -%}
{{ render_field(field, class_='select w-full', error_class='select-error') }}
{%- endmacro %}

{% macro render_multiple_select(field) -%}
{{ render_field(field, class_='select w-full h-auto', error_class='select-error') }}
{%- endmacro %}



{% macro render_tag_input(field, suggestions=[]) -%}
{%- set style = 'input w-full js-tag-input %s' | format(eh.get_validate_class(field.errors, 'input-error')) -%}
<div class="form-field mb-3">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(class_=style, autocomplete='off', **{'data-tags': suggestions | tojson | forceescape}) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_calendar(field, calendar_id='calendar') -%}
{%- set style = 'input w-full js-datetime-picker %s' | format(eh.get_validate_class(field.errors, 'input-error')) -%}
<div class="form-field mb-3" id="{{ calendar_id }}">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(type='text', class_=style, autocomplete='off', placeholder='dd/mm/yyyy HH:MM') }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_timepicker(field, timepicker_id='timepicker') -%}
{%- set style = 'input w-full %s' | format(eh.get_validate_class(field.errors, 'input-error')) -%}
<div class="form-field mb-3" id="{{ timepicker_id }}">
  {{ field.label(class_='label mb-1 font-medium text-base-content') }}
  {{ field(type='time', class_=style) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}
