<li class="mb-3">
  <a href="{{ url_for('users.index') }}" class="flex items-center gap-3">
    {% if current_user.get_picture() %}
    <div class="avatar">
      <div class="w-10 rounded-full">
        <img src="{{ current_user.get_picture() }}">
      </div>
    </div>
    {% else %}
    <i class="fa-solid fa-user text-2xl"></i>
    {% endif %}
    <span class="flex flex-col">
      <span class="font-semibold">
        {{ current_user.first_name }} {{ current_user.last_name }}
      </span>
      <span class="text-sm opacity-80">{{ current_user.email }}</span>
    </span>
  </a>
</li>

<li><a href="{{ url_for('dashboard.index') }}"><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
<li><a href="{{ url_for('site.index') }}"><i class="fa-solid fa-globe"></i>Home Page</a></li>

<li><a href="{{ url_for('spaces.index') }}"><i class="fa-solid fa-dice-d20"></i>Space</a></li>
<li><a href="{{ url_for('accounts.index') }}"><i class="fa-solid fa-dollar-sign"></i>Account</a></li>

{% if current_user.has_roles('admin') %}
<li><a href="{{ url_for('dashboard.index_admin') }}"><i class="fa-solid fa-gauge"></i>Dashboard Admin</a></li>
<li><a href="{{ url_for('admin.users.index') }}"><i class="fa-solid fa-address-book"></i>User Management</a></li>
{% endif %}

<li><a href="{{ url_for('users.index') }}"><i class="fa-solid fa-address-book"></i>Profile</a></li>
<li><a href="{{ url_for('users.logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
