<div class="ui inverted vertical segment" style="background-color: rgb(25, 60, 108);">
  <footer>
    <div class="ui container">
      <div class="ui grid" style="padding: 2em">
        <div class="two column row">
          <div class="column">
            <h6 class="ui inverted header">Certificate System</h6>
            <div>
              <img width="200px" src="{{ url_for('static', filename="images/diis-logo.png") }}">
            </div>
            <p>Develop by DiiS and R202 research lab </p>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Connect</h5>
            <ul>
              <li><a href="https://diis.psu.ac.th/">DiiS, PSU</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

