{% extends '/admin/index.html' %}


{% block dashboard_title %}
User
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <div class="divider"> / </div>
  {% if request.endpoint == 'admin.users.index' %}
    <div class="active section">User</div>
  {% else %}
    <a href="{{ url_for('users.index') }}" class="section">User</a>
  {% endif %}
{% endblock %}

{% block content %}
{# start div container #}
<div class="ui segment">
  <h1>User</h1>
  <a href="{{ url_for('admin.users.add_or_edit') }}" class="ui primary button">Add User</a>
  <table class="ui table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Register Date</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.register_date.strftime('%Y-%m-%d %H:%M:%s') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 
{# end div container #}
{% endblock %}

