{% extends '/spaces/index.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">Edit Space</div>
{% endblock %}

{% block content %}
  <div class="ui segment">
    <h2>Profile</h2>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="three fields">
        {{ renderer.render_field(form.title) }}
        {{ renderer.render_field(form.first_name) }}
        {{ renderer.render_field(form.last_name) }}
      </div>
      <div class="three fields">
        {{ renderer.render_field(form.title_th) }}
        {{ renderer.render_field(form.first_name_th) }}
        {{ renderer.render_field(form.last_name_th) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.email) }}
        {{ renderer.render_fileinput(form.pic) }}
      </div>
      {{ renderer.render_field(form.biography) }}
      <button name="create" type="submit" class="ui primary button">Change</button>
    </form>
  </div>
{% endblock content %}

{% block additional_js %}
{% endblock additional_js %}
