{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Space
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('spaces.index') }}" class="section">Spaces</a>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="ui segment">
    <a class="ui button primary" href="{{ url_for('spaces.index') }}">Space</a>
    <a class="ui button primary" href="{{ url_for('spaces.list_roles', space_id=space.id) }}">Roles</a>
  </div>
  <div>
    <a class="ui icon button primary" href="{{ url_for('accounts.create_or_edit', space_id=space.id) }}"><i class="add icon"></i> Create Account</a>
  </div>
  <div>
    {% if account %}
      <div>Name {{ account.name }}</div>
      <div>Currentcy {{ account.currency }}</div>
      <div>Description {{ account.description }}</div>
      <div>
        <a class="ui primary icon circular button" href="{{ url_for('accounts.view', account_id=account.id) }}"><i class="eye icon"></i></a>
      </div>
    {% endif %}
  </div>
  
{% endblock %}
