{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="card bg-base-100 shadow">
  <div class="card-body py-4 px-5">
    <div class="flex items-center gap-4">
      <a href="{{ url_for('users.index') }}">
        {% if current_user.get_picture() %}
        <div class="avatar">
          <div class="w-12 rounded-full">
            <img src="{{ current_user.get_picture() }}">
          </div>
        </div>
        {% else %}
        <i class="fa-solid fa-user text-4xl"></i>
        {% endif %}
      </a>

      <div>
        <a class="text-2xl font-bold hover:text-primary" href="{{ url_for('users.index') }}">
          {{ current_user.first_name }} {{ current_user.last_name }}
        </a>
        <div class="text-sm text-base-content/70">
          {{ current_user.email }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
