{% extends '/spaces/roles.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
Space Role: {{ space.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <li>Add or Edit Space Role</li>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="card bg-base-100 shadow mb-4">
    <div class="card-body py-3">
      <div>
        <a class="btn btn-primary" href="{{ url_for('spaces.index') }}">Space</a>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h2 class="text-2xl font-bold mb-4">Space Role</h2>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          {{ renderer.render_select(form.member_id) }}
          {{ renderer.render_select(form.role) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
