{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Space
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('spaces.index') }}" class="section">Spaces</a>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="ui segment">
      <a class="ui button primary" href="{{ url_for('spaces.create_or_edit') }}">Create</a>
  </div>
  <div class="ui cards">

    {% for space in spaces %}
    <div class="card">
      <div class="content">
        <div class="header">{{ space.name }}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Infomation</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <b>Code:</b> {{ space.code }}
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <b>Tax ID:</b> {{ space.tax_id }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui four buttons">
          <a class="ui icon button primary" href="{{ url_for('spaces.view', space_id=space.id) }}"><i class="eye icon"></i></a>
          <a class="ui icon button yellow" href="{{ url_for('spaces.create_or_edit', space_id=space.id) }}"><i class="edit icon"></i></a>
          <a class="ui icon button gray" href="{{ url_for('spaces.copy', space_id=space.id) }}"><i class="copy icon"></i></a>
          <a class="ui icon button red" href="{{ url_for('spaces.delete', space_id=space.id) }}"><i class="trash icon"></i></a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
