{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Space
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('spaces.index') }}">Spaces</a></li>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="card bg-base-100 shadow mb-4">
    <div class="card-body py-3">
      <div>
        <a class="btn btn-primary" href="{{ url_for('spaces.create_or_edit') }}">Create</a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

    {% for space in spaces %}
    <div class="card bg-base-100 shadow">
      <div class="card-body">
        <h2 class="card-title">{{ space.name }}</h2>
        <h4 class="text-sm font-semibold uppercase text-base-content/60">Infomation</h4>
        <div class="space-y-1">
          <div>
            <b>Code:</b> {{ space.code }}
          </div>
          <div>
            <b>Tax ID:</b> {{ space.tax_id }}
          </div>
        </div>
        <div class="card-actions justify-end mt-2">
          <a class="btn btn-primary btn-sm" title="View" href="{{ url_for('spaces.view', space_id=space.id) }}"><i class="fa-solid fa-eye"></i></a>
          <a class="btn btn-warning btn-sm" title="Edit" href="{{ url_for('spaces.create_or_edit', space_id=space.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a class="btn btn-sm" title="Copy" href="{{ url_for('spaces.copy', space_id=space.id) }}"><i class="fa-solid fa-copy"></i></a>
          <button type="button" class="btn btn-error btn-sm" title="Delete" onclick="document.getElementById('delete-modal-{{ space.id }}').showModal()"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

{% for space in spaces %}
  <dialog id="delete-modal-{{ space.id }}" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">
        Delete {{ space.name }} Account Book
      </h3>
      <p class="py-4">Are you sure you want to delete the {{ space.name }} account book ?</p>
      <div class="modal-action">
        <form method="dialog"><button class="btn">Cancel</button></form>
        <a class="btn btn-error" href="{{ url_for('spaces.delete', space_id=space.id) }}">
          Delete
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop"><button>close</button></form>
  </dialog>
{% endfor %}

{% endblock %}
