{% extends '/spaces/view.html' %}

{% block dashboard_title %}
Space
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if request.endpoint == 'spaces.list_roles' %}
      <div class="active section">Space Role </div>
  {% elif space %}
    <a class="section" href="{{ url_for('spaces.list_roles', space_id=space.id ) }}">Space Role </a>
  {% endif %}


{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="ui segment">
    <a class="ui button primary" href="{{ url_for('spaces.index') }}">Space</a>
    <a class="ui button primary" href="{{ url_for('spaces.add_or_edit_role', space_id=space.id) }}">Add Role</a>
  </div>
  <div>
    <table class="ui table">
      <thead>
        <tr>
          <th>Member</th>
          <th>Role</th>
          <th>Last Update By</th>
          <th>Last Update</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for space_role in space_roles %}
        <tr>
          <td>{{ space_role.member.first_name }} {{ space_role.member.last_name }}</td>
          <td>{{ space_role.role.title() }}</td>
          <td>{{ space_role.updated_by.first_name }} {{ space_role.updated_by.last_name }}</td>
          <td>{{ space_role.updated_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>
            <a class="ui primary icon circular button" href="{{ url_for('spaces.add_or_edit_role', space_id=space_role.space.id, space_role_id=space_role.id) }}"><i class="edit icon"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}
