{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<h3>{{ _("Endorses")}} {{ _("Classes") }}</h3>
{% endblock %}

{% block content %}
  <h1 class="ui horizontal header divider">
    {{ _("Endorsement") }}
  </h1>
  


  {% if not endorses_classes %}
    <div class="ui horizontal divider" style="margin: 3em 40% 3em 40%"><span style="color: rgb(172, 172, 172);">{{ _("Waiting for new endorsement") }}</span> </div>
    {% else %}
    
    <table class="ui fixed celled table">
        <thead>
          <tr>
            <th class="three wide">
                {{ _("Organization") }}
            </th>
            <th class="five wide">
                {{ _("Class Name") }}<br>
                <span class="ui grey text">{{ _("Printed Name") }}</span>
            </th>
            <th class="four wide">{{ _("Endorser") }}</th>
            <th class="two wide">{{ _("Endorse") }}</th>
          </tr>
        </thead>
        <tbody>
      {% for class_ in endorses_classes %}
          <tr>
            <td >
                {{ class_.organization.name }}
            </td>
            <td >
              <div class="ui grid two column">
                <div class="column">
                  <a class="blinking link" style="color: black" target="_blank" href="{{ url_for('classes.view', class_id=class_.id, organization_id=class_.organization.id) }}">
                    {{ class_.name }}
                  </a>
                  <br>
                  <span class="ui grey text">{{ class_.printed_name }}</span>
                </div>
                <div class="column">
                  <a class="ui psu-sky-blue small button" target="_blank" href="{{ url_for('classes.view', class_id=class_.id) }}">
                    <i class="certificate icon"></i>
                    {{ _("Certificates") }}
                  </a>
                </div>
              </div>
            </td> 
            <td>
                <div class="ui stackable two column compact grid">
                    <div class="column">
                      {% for key, endorser in class_.endorsers.items() %}
                      <i class="small user icon"></i>{{ endorser.user.first_name }} {{ endorser.user.last_name }} <br>
                      {% if loop.index == 2 %} </div><div class="column"> {% endif %}
                      {% endfor %}
                    </div>
                </div>
            </td>
            <td>
                {% if class_.is_quota_enough_to_prepair() %}
                <a class="ui primary labeled fluid icon button" onclick="$('.modal.endorse.{{ class_.id }}').modal('show')" >
                  <i class="clipboard check icon"></i>
                  {{ _("Endorse") }}
                </a>
                {% else %}
                <a class="ui error-red labeled fluid icon {{class_.id}} button"
                  data-variation="very wide" 
                  data-position="bottom center"
                  style="cursor: pointer"
                  onmouseover="$('.{{class_.id}}.button').popup({on:'click'});">
                  <i class="clipboard check icon"></i>
                  {{ _("Endorse") }}
                </a>
                <div class="ui popup" style="color: #9f3a38; border: 1px solid #e0b4b4; background: #fff6f6; text-align: left">
                  <div class="ui header" style="color: #9f3a38">{{ _("Not enough Quota!") }}</div>
                  <li>{{ class_.organization.name }} {{ _("doesn't have enough quota, need") }} <b>{{ class_.get_required_quota() - class_.organization.get_available_quota() }}</b> more quota.</li>
                </div>
                {% endif %}
            </td>
          </tr>

          <div class="ui modal endorse {{ class_.id }}">
            <div class="header">{{ _("Endorsement") }}</div>
            <div class="content">
              <div class="text" style="font-size: 18px;">
                {{ _("List of") }}
                  <span class="ui blue text"><b>{{ _("Certificates") }}</b></span>
                {{ _("you are about to Endorse.") }}
              </div>
               {% set certificates = class_.get_prerelease_certificates() %}
               <div class="ui relaxed divided ordered selection list">
                 {% for certificate in certificates %}
                    <a class="item" href="{{ url_for('certificates.view', certificate_id=certificate.id) }}" target="_blank">
                      <div class="content">
                        <div class="header">
                          {{ certificate.get_participant().group.title() }}
                        </div>
                        ({{ certificate.common_id }}) {{ certificate.get_participant_name() }}
                      </div>
                    </a>
                  {% endfor %}
                </div>

                <div class="ui basic segment right aligned">
                  <div class="ui left labeled button" >
                    <div class="ui basic blue label" style="cursor: default;">
                      <span class="ui blue text">{{ class_.get_prerelease_certificates() | count }} {{ _("Certificate") }}</span>
                    </div>
                    <a class="ui primary button" href="{{ url_for('classes.endorse', class_id=class_.id, organization_id=class_.organization.id) }}">
                      {{ _("Endorse") }}
                    </a>
                  </div>
                  <div class="ui button" onclick="$('.modal.endorse.{{ class_.id }}').modal('hide')">{{ _("Cancel") }}</div>
                </div>

              </div>
          </div>
      {% endfor %}
      </table>

  {% endif %}

  <h1 class="ui horizontal header divider" style="margin-top: 2em">
    {{ _("Last Endorsement") }}
  </h1>

  {% if not endorsed_classes %}
    <div class="ui horizontal divider" style="margin: 3em 40% 3em 40%"><span style="color: rgb(172, 172, 172);">{{ _("You don't have any Endorsement") }}</span> </div>
    {% else %}
    
    <table class="ui fixed celled table">
        <thead>
          <tr>
            <th class="three wide">
                {{ _("Organization") }}
            </th>
            <th class="seven wide">
                {{ _("Class Name") }}<br>
                <span class="ui grey text">{{ _("Printed Name") }}</span>
            </th>
            <th class="four wide">{{ _("Endorser") }}</th>
            <th class="two wide">{{ _("Status") }}</th>
          </tr>
        </thead>
        <tbody>
      {% for class_ in endorsed_classes %}
          <tr>
            <td>
                {{ class_.organization.name }}
            </td>
            <td >
              <a class="ui left labeled right floated button" target="_blank" href="{{ url_for('classes.view', class_id=class_.id) }}">
                <div class="ui basic blue label">
                  {{ class_.get_certificates_endorsed_by_user(current_user) | count }}
                </div>
                <div class="ui psu-sky-blue small button">
                  <i class="certificate icon"></i>
                  {{ _("Certificates") }}
                </div>
              </a>
              <a class="blinking link" style="color: black" target="_blank" href="{{ url_for('classes.view', class_id=class_.id, organization_id=class_.organization.id) }}">
                {{ class_.name }}
              </a>
              <br>
              <span class="ui grey text">
                {{ class_.printed_name }}
              </span>
            </td> 
            <td>
                <div class="ui stackable two column compact grid">
                    <div class="inline column">
                        {% for key, endorser in class_.endorsers.items() %}
                        <i class="small user icon"></i>{{ endorser.user.first_name }} {{ endorser.user.last_name }} <br>
                        {% if loop.index == 2 %} </div><div class="column"> {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td>
              {% set job = endorsed_jobs[ class_.id| string] %}
              {% if job %}
                {% if job.get_status(refresh=True) in ["queued", "started"] %}
                  <div class="ui label fluid center aligned yellow" >{{ job.get_status(refresh=True).title() }}</div>
                {% elif job.get_status(refresh=True) in ["failed"] %}
                  <div class="ui label fluid center aligned red" >{{ job.get_status(refresh=True).title() }}</div>
                {% else %}
                  <div class="ui label fluid center aligned orange" >{{ job.get_status(refresh=True).title() }}</div>
                {% endif %}
              {% else %}
                <div class="ui label fluid center aligned green">{{ _("Completed") }}</div>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
      </table>

  {% endif %}
{% endblock %}

{% block additional_js %}
<script>
  const links = document.querySelectorAll('.blinking.link')
  links.forEach((link, index) => {
    link.setAttribute('onmouseover', 'this.style.color="#2185d0"');
    link.setAttribute('onmouseout', 'this.style.color="black"');
  });

  const secondaryLinks = document.querySelectorAll('.secondary.link')
  secondaryLinks.forEach((link, index) => {
    link.setAttribute('onmouseover', 'this.style.color="#4797d4"');
    link.setAttribute('onmouseout', 'this.style.color="rgba(0,0,0,.4)"');
  });

  function showErrorEndorse(class_id) {
    endorse_button = $('.'+class_id+'.button')
    endorse_popup = $('.ui.'+class_id+'.error.popup')
    endorse_button.popup({popup: endorse_popup, on: 'click'})
  }

</script>

{% endblock%}