{% extends '/base/default-dashboard.html' %}

{% block additional_js %}
<script>
  $('.ui.big.breadcrumb')[0].parentElement.style.display = "none"
  const links = document.querySelectorAll('.blinking.link')
  links.forEach((link, index) => {
    link.setAttribute('onmouseover', 'this.style.color="#2185d0"');
    link.setAttribute('onmouseout', 'this.style.color="black"');
  });
</script>
{% endblock%}

{% block content %}
<div class="ui attached left aligned segment">
  <h1 class="ui left aligned header">
    <a href="{{ url_for('users.index') }}" class="ui image">
      {% if current_user.get_picture() %}
      <img class="ui avatar image" src="{{ current_user.get_picture() }}">
      {% else %}
      <i class="user icon"></i>
      {% endif %}
    </a>
  
    <div class="content">
      <a class="ui header blinking link" href="{{ url_for('users.index') }}">
        {{ current_user.first_name }} {{ current_user.last_name }}
      </a>
      <div class="sub header">
        {{ current_user.email }}
      </div>
    </div>        
  </h1>
</div>

<style>
  .card {
    margin: 1em;
  }
  .card:hover {
    box-shadow: 0 4px 12px #d4d4d5 !important;
  }
</style>

{% endblock %}


