{% extends "/base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Log in{% endblock %}

{% block additional_head %}

{% endblock %}

{% block content %}
  <div style="min-height: 75vh; height: 100%;">
    <div class="ui centered card">
      <div class="content">

        <h2 class="ui teal" style="font-size: 3em;">
          Login
        </h2>
        <form class="ui form" action="{{ url_for('accounts.authorized_banchi') }}" method="POST">
          {{ form.hidden_tag() }}
          {{ renderer.render_field(form.username) }}
          {{ renderer.render_field(form.password) }}
          <button type="submit" class="ui button primary">Login</button> 
        </form>

        <div>
          {#
          <div class="row" style="padding: 10px;">
            <div class="column header" style="text-align: left;">
              <h3>OAuth Login</h3>
            </div>
          </div>

          {% if 'google' in oauth_clients %}
          <div class="row" style="padding-top: 5px;">
            <a class="ui  labeled icon red button huge" href="{{ url_for('accounts.login_oauth', name='google') }}">
              <i class="google icon"></i>
              Google
            </a>
          </div>
          {% endif %}
          #}
        </div>

      </div>
    </div>
  </div>
{% endblock %}
