{% extends '/accounts/index.html' %}

{% block dashboard_title %}
Account {{ account.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <div class="divider">/</div>
  <div class="active section">Account: {{ account.name }} </div>

{% endblock %}

{% block title %}
  {{ self.dashboard_title() }}
{% endblock %}

{% block content %}
  <div>
    <a class="ui primary button" href="{{ url_for('account_books.create_or_edit', account_id=account.id) }}">Create Account Book</a>
  </div>
  <div>
    <table class="ui table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Tool</th>

        </tr>
      </thead>
      <tbody>
        {% for account_book in account_books %}
        <tr>
          <td>
            {% if account_book.parent %}
              {{ account_book.parent.name }} > 
            {% endif %}
            {{ account_book.name }}

          </td>
          <td>
            <a class="ui primary circular icon button" href="{{ url_for('account_books.view', account_book_id=account_book.id) }}"><i class="eye icon"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
