{% extends '/accounts/index.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block breadcrumbs %}
{{ super() }}
{% if 'edit' not in request.path %}
  <li>Create Account</li>
{% else %}
  <li>Edit Account</li>
{% endif %}
{% endblock %}

{% block content %}
  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h2 class="text-2xl font-bold mb-4">Account</h2>
      <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ renderer.render_field(form.name) }}
        {{ renderer.render_textarea(form.description) }}
        {{ renderer.render_field(form.currency) }}
        <button name="subnit" type="submit" class="btn btn-primary">
          {% if 'edit' not in request.path %}
            Create
          {% else %}
            Edit
          {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
