{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Account
{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'accounts.index' %}
    <li>Accounts</li>
  {% else %}
    <li><a href="{{ url_for('accounts.index') }}">Accounts</a></li>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="card bg-base-100 shadow mb-4">
    <div class="card-body py-3">
      <div>
        <a class="btn btn-primary" href="{{ url_for('accounts.create_or_edit') }}">Create</a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

    {% for account in accounts %}
    <div class="card bg-base-100 shadow">
      <div class="card-body">
        <h3 class="card-title text-xl">{{ account.name }}</h3>
        <h4 class="text-sm font-bold uppercase text-base-content/60">Infomation</h4>
        <div class="space-y-1">
          <div>
            <b>Code:</b> {{ account.code }}
          </div>
          <div>
            <b>Tax ID:</b> {{ account.tax_id }}
          </div>
        </div>
        <div class="card-actions mt-2">
          <a class="btn btn-primary" href="{{ url_for('accounts.view', account_id=account.id) }}">View Account</a>
          <a class="btn btn-warning" href="{{ url_for('accounts.create_or_edit', account_id=account.id) }}">Edit Account</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
